{
	"env": {
		"commonjs": {
			"presets": [
				"es2015",
				"react",
				"stage-3"
			],
			"plugins": [
				"transform-decorators-legacy"
			]
		},
		"es": {
			"presets": [
				"es2015-rollup",
				"react",
				"stage-3"
			],
			"plugins": [
				"transform-runtime",
				"transform-decorators-legacy"
			]
		},
		"production": {
			"comments":false,
			"presets": [
				"es2015",
				"react",
				"stage-3"
			],
			"plugins": [
				"transform-runtime",
				"transform-decorators-legacy"
			]
		}
	},
	"presets": [
		"es2015",
		"react",
		"stage-3"
	],
	"plugins": [
		"transform-decorators-legacy"
	]
}